@page "/consultaBensValor"
@using AppInventario.Models;
@using AppInventario.Services;
@inject PessoaService pessoaService;
@inject NavigationManager navegacao;

<h3>CONSULTA DE BENS</h3>

<div class="container">
    <nav class="navbar navbar-light" style="background-color: darkgreen"></nav>
    <div class="form-group">
        <label for="input-datalist">Buscar</label>
        <input type="text" class="form-control" placeholder="Buscar" list="lista-pessoas" @onchange="SelecionarPessoas">
        <datalist id="lista-pessoas">
            @foreach (var item in Pessoas)
            {
                <option value="@item.Cpf">@item.Nome</option>
            }

        </datalist>
    </div>
    <nav class="navbar navbar-light" style="background-color: white"></nav>
    <nav class="navbar navbar-light" style="background-color: darkgreen"></nav>
    <nav class="navbar navbar-light" style="background-color: white"></nav>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">NOME:</label>
        <input @bind="pessoa.Nome" type="text" class="form-control" id="exampleFormControlInput1" disabled="true">
    </div>
    <div class="row align-items-start">
        <div class="col">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">CPF:</label>
                <input @bind="pessoa.Cpf" type="text" class="form-control" id="exampleFormControlInput2" disabled="true">
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">DATA DE NASCIMENTO:</label>
                <input @bind="pessoa.DataNasc" type="date" class="form-control" id="exampleFormControlInput2" disabled="true">
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">TELEFONE:</label>
                <input @bind="pessoa.Telefone" type="tel" class="form-control" id="exampleFormControlInput2" disabled="true">
            </div>
        </div>
        <button type="button" class="btn btn-warning" @onclick="Consultar">Consultar</button>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">CONSULTAR BENS MAIORES QUE:</label>
            <input @bind="ValorMaiorQue" type="text" class="form-control" id="exampleFormControlInput1">
        </div>
    </div>


    <nav class="navbar navbar-light" style="background-color: white"></nav>

    <nav class="navbar navbar-light" style="background-color: darkorange"></nav>

    <nav class="navbar navbar-light" style="background-color: white"></nav>

    <h4 style="text-align:center">Bens Cadastrados</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in bensRegistrados)
            {
                <tr>
                    <td>@item.Descricao</td>
                    <td>@item.Valor</td>
                </tr>
            }
            <tr>
                <td><strong>Total:</strong></td>
                <td><strong>@TotalBens</strong></td>
            </tr>
        </tbody>
    </table>

</div>

@code {
    private string? Descricao { get; set; }
    private double? Valor { get; set; }
    private List<Pessoa>? Pessoas { get; set; }
    private Pessoa? pessoa = new Pessoa();
    private bool campoBloqueado = false;
    private List<Propriedade> bensRegistrados = new List<Propriedade>();
    private double? TotalBens = 0;
    private double? ValorMaiorQue = 0;

    protected override async Task OnInitializedAsync()
    {
        Pessoas = new List<Pessoa>();
        var lista = await pessoaService?.Pessoas();
        Pessoas = lista.ToList();
    }

    public void SelecionarPessoas(ChangeEventArgs e)
    {
        string cpf = e.Value.ToString();
        var p = Pessoas.Where(p => p.Cpf == cpf).FirstOrDefault();
        if (p != null)
        {
            pessoa = p;
            bensRegistrados = pessoa.Propriedades;
        }

        TotalBens = bensRegistrados.Sum(p => p.Valor);
    }
    public void Consultar()
    {
        bensRegistrados = pessoa.Propriedades.Where(p => p.Valor > ValorMaiorQue).ToList();
        TotalBens = bensRegistrados.Where(p => p.Valor > ValorMaiorQue).Sum(p => p.Valor);
    }

}
